/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.d-block {
  display: block;
}

.w-100 {
  width: 100%;
}

.container {
  max-width: 80%;
  margin: 2rem auto;
}

a.active {
  color: #000;
}
